<h1>LOGIN</h1>
<form id="signIn-form">
    <div>
    <label for="username">Username</label>
    <input id="username" type="text"/>
    </div>
    <div>
    <label for="password">Password</label>
    <input id="password" type="password"/>
    </div>
    <div>
    <button type="submit">Submit</button>
    </div>
</form>
<script src="/js/login.js"></script>