<h1>LOGIN</h1>
<form id="signIn-form">
    <div>
    <label for="username">Username</label>
    <input id="username" type="text"/>
    </div>
    <div>
    <label for="password">Password</label>
    <input id="password" type="password"/>
    </div>
    <div>
    <button type="submit">Log In</button>
    </div>
</form>

<h1>SIGN UP</h1>
<form id="signup-form">
    <div>
    <label for="newuser">Username</label>
    <input id="newuser" type="text"/>
    </div>
    <div>
    <label for="newpass">Password</label>
    <input id="newpass" type="password"/>
    </div>
    <div>
    <button type="submit">Sign Up</button>
    <p>*Password must contain at least 8 characters</p>
    </div>
</form>

<script src="/js/login.js"></script>