    <div class="container text-light">
    <h2 class="text-center">Welcome, {{name}}!</h2>

 <div class="row">
  <div class="col-auto">
  </div>
</div>

<div class="row mt-4 flex-nowrap">
  <div class="col-md-6 ml-5">
    <h3>Add a New Project</h3>

  <form class="form new-project-form text-light">
      <div class="form-group">
        <label for="project-name">Project name:</label>
        <br>
        <input class="form-input" type="text" id="project-name" name="project-name" placeholder="Title" />
      </div>
      <div class="form-group">
        <label for="project-desc">Description:</label>
        <br>
        <textarea class="form-input" id="project-desc" name="project-desc" placeholder="Summarize app"></textarea>
      </div>
      {{!-- <div class="form-group">
        <label for="project-desc">Contibuters:</label>
        <br>
        <textarea class="form-input" id="project-desc" name="project-desc" placeholder="Who worked on this project?"></textarea>
      </div> --}}
      <div class="form-group">
        <label for="project-link">Repository link:</label>
        <br>
        <input type="url" class="form-input" id="project-link" name="project-link" placeholder="Github repository link"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary project">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>My Shared Projects</h3>

    {{#each projects as |project|}}

  <ol class="list-group list-group-numbered w-50">
    <li class="list-group-item bg-secondary">
      <div class="ms-2 me-auto">
        <h3>
          <a class="fw-bold text-light" href="{{project.link}}" target="_blank">{{project.name}}</a>
        </h3>
        <button class="btn btn-sm btn-danger ml-5" data-id="{{project.id}}">DELETE</button>
      </div>
    </li>
  </ol>
  <br>
    {{/each}}
  </div>
  {{/if}}
</div>
</div>

<script src="/js/profile.js"></script>




